* Open fanout-of-four inverter chain
<MODEL_SETUP>
Vdd vdd 0 <VDD>
Vbn bn 0 <BODY_N>
Vbp bp 0 <BODY_P>
Vin in 0 <PULSE_OPEN> 0 <VDD> <INPUT_DELAY> <INPUT_RISE> <INPUT_FALL> <INPUT_WIDTH> <INPUT_PERIOD> <PULSE_CLOSE>
<P_PREFIX>p_drv n1 in vdd bp <P_DEVICE>
<N_PREFIX>n_drv n1 in 0 bn <N_DEVICE>
<P_PREFIX>p_l0 o0 n1 vdd bp <P_DEVICE>
<N_PREFIX>n_l0 o0 n1 0 bn <N_DEVICE>
<P_PREFIX>p_l1 o1 n1 vdd bp <P_DEVICE>
<N_PREFIX>n_l1 o1 n1 0 bn <N_DEVICE>
<P_PREFIX>p_l2 o2 n1 vdd bp <P_DEVICE>
<N_PREFIX>n_l2 o2 n1 0 bn <N_DEVICE>
<P_PREFIX>p_l3 o3 n1 vdd bp <P_DEVICE>
<N_PREFIX>n_l3 o3 n1 0 bn <N_DEVICE>
C0 o0 0 <CHAIN_LOAD>
C1 o1 0 <CHAIN_LOAD>
C2 o2 0 <CHAIN_LOAD>
C3 o3 0 <CHAIN_LOAD>
<OUTPUT_LOAD>
.ic V(n1)=<VDD> V(o0)=0 V(o1)=0 V(o2)=0 V(o3)=0
.temp <TEMP>
<ANALYSIS>
.end
