* Four-terminal MOSFET characterization template
<MODEL_SETUP>
.temp <TEMP>
<DRAIN_BIAS>
<GATE_BIAS>
<SOURCE_BIAS>
<BULK_BIAS>
<DEVICE_NAME> <DRAIN_NODE> <GATE_NODE> <SOURCE_NODE> <BULK_NODE> <DEVICE>
<EXTRA_DEVICES>
<LOAD>
<ANALYSIS>
.end
